*target*
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/bin/

# the build
xic

# generated lexer
src/main/java/mtm68/lexer/Lexer.java

# generated cup files
src/main/java/mtm68/parser/Parser.java
src/main/java/mtm68/parser/Sym.java


# the elusive reduced pom
dependency-reduced-pom.xml

# xth test harness
xth/**

lib/**
!lib/jflex-1.8.2/**
!lib/java_cup.jar
